*.epub
*.pdf

!learn-arabic.pdf

*.vtt
*.json
*.srt
*.tsv
*.tmk
*.wav
*.mp3
*.mp4

*.m4b

*.webm

!arcanum-review.mp3
!physics/Architectural Layers of Reality.mp3

lib64
pyvenv.cfg

processing/
bin/
environment/
include/
lib/
eschatology/
